.main-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card-design{
    margin: 20px;
    background-color: rgb(183, 254, 254);
    box-shadow: 0 0 0 1px #e2e9ed;
    transition: 0.2s all;
}

.card-design:hover{
    margin: 20px;
    background-color: rgb(183, 254, 254);
    box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}